In [1]:
# The usual preamble
import pandas as pd

import matplotlib as mpl
# Make the graphs a bit prettier, and bigger 
pd.set_option('display.width', 5000) 
pd.set_option('display.max_columns', 60)

In [2]:
import numpy as np

## import the dataset first

In [3]:
df = pd.read_csv('./data/DataSet.txt')

In [4]:
header_names = []
#set the headers for the dataframe
with open('./data/header.txt', 'r') as headers:
    for line in headers:
        for word in line.split():
            header_names.append(word)
print(header_names)

['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

## Use the header names as column headers for csv file

In [5]:
df.columns = header_names

In [6]:
df.head()

   symboling normalized-losses         make fuel-type aspiration num-of-doors   body-style drive-wheels engine-location  wheel-base  length  width  height  curb-weight engine-type num-of-cylinders  engine-size fuel-system  bore stroke  compression-ratio horsepower peak-rpm  city-mpg  highway-mpg  price
0          3                 ?  alfa-romero       gas        std          two  convertible          rwd           front        88.6   168.8   64.1    48.8         2548        dohc             four          130        mpfi  3.47   2.68                9.0        111     5000        21           27  16500
1          1                 ?  alfa-romero       gas        std          two    hatchback          rwd           front        94.5   171.2   65.5    52.4         2823        ohcv              six          152        mpfi  2.68   3.47                9.0        154     5000        19           26  16500
2          2               164         audi       gas        std         four        sedan          fwd           front        99.8   176.6   66.2    54.3         2337         ohc             four          109        mpfi  3.19   3.40               10.0        102     5500        24           30  13950
3          2               164         audi       gas        std         four        sedan          4wd           front        99.4   176.6   66.4    54.3         2824         ohc             five          136        mpfi  3.19   3.40                8.0        115     5500        18           22  17450
4          2                 ?         audi       gas        std          two        sedan          fwd           front        99.8   177.3   66.3    53.1         2507         ohc             five          136        mpfi  3.19   3.40                8.5        110     5500        19           25  15250

In [7]:
df.describe()

        symboling  wheel-base      length       width      height  curb-weight  engine-size  compression-ratio    city-mpg  highway-mpg
count  204.000000  204.000000  204.000000  204.000000  204.000000   204.000000   204.000000         204.000000  204.000000   204.000000
mean     0.823529   98.806373  174.075000   65.916667   53.749020  2555.602941   126.892157          10.148137   25.240196    30.769608
std      1.239035    5.994144   12.362123    2.146716    2.424901   521.960820    41.744569           3.981000    6.551513     6.898337
min     -2.000000   86.600000  141.100000   60.300000   47.800000  1488.000000    61.000000           7.000000   13.000000    16.000000
25%      0.000000   94.500000  166.300000   64.075000   52.000000  2145.000000    97.000000           8.575000   19.000000    25.000000
50%      1.000000   97.000000  173.200000   65.500000   54.100000  2414.000000   119.500000           9.000000   24.000000    30.000000
75%      2.000000  102.400000  183.200000   66.900000   55.500000  2939.250000   142.000000           9.400000   30.000000    34.500000
max      3.000000  120.900000  208.100000   72.300000   59.800000  4066.000000   326.000000          23.000000   49.000000    54.000000

In [8]:
df.describe(include = ['O'])

       normalized-losses    make fuel-type aspiration num-of-doors body-style drive-wheels engine-location engine-type num-of-cylinders fuel-system  bore stroke horsepower peak-rpm price
count                204     204       204        204          204        204          204             204         204              204         204   204    204        204      204   204
unique                52      22         2          2            3          5            3               2           7                7           8    39     37         60       24   186
top                    ?  toyota       gas        std         four      sedan          fwd           front         ohc             four        mpfi  3.62   3.40         68     5500     ?
freq                  40      32       184        167          114         96          120             201         148              158          93    23     20         19       37     4

In [9]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

# Create the dataframe for continuous data
* convert all continous to float-64

In [10]:
#create a df for continous features
df_cont = df[['normalized-losses', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-size', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']].copy()

In [11]:
len(df_cont.columns)

15

## convert all to float-64

In [12]:
df_cont.head(5)

  normalized-losses  wheel-base  length  width  height  curb-weight  engine-size  bore stroke  compression-ratio horsepower peak-rpm  city-mpg  highway-mpg  price
0                 ?        88.6   168.8   64.1    48.8         2548          130  3.47   2.68                9.0        111     5000        21           27  16500
1                 ?        94.5   171.2   65.5    52.4         2823          152  2.68   3.47                9.0        154     5000        19           26  16500
2               164        99.8   176.6   66.2    54.3         2337          109  3.19   3.40               10.0        102     5500        24           30  13950
3               164        99.4   176.6   66.4    54.3         2824          136  3.19   3.40                8.0        115     5500        18           22  17450
4                 ?        99.8   177.3   66.3    53.1         2507          136  3.19   3.40                8.5        110     5500        19           25  15250

In [13]:
df_cont = df_cont.apply(pd.to_numeric, errors='coerce') #errors converts the ? value to NaN

In [14]:
df_cont.dtypes

normalized-losses    float64
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-size            int64
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [15]:
df_cont.describe()

       normalized-losses  wheel-base      length       width      height  curb-weight  engine-size        bore      stroke  compression-ratio  horsepower     peak-rpm    city-mpg  highway-mpg         price
count         164.000000  204.000000  204.000000  204.000000  204.000000   204.000000   204.000000  200.000000  200.000000         204.000000  202.000000   202.000000  204.000000   204.000000    200.000000
mean          122.000000   98.806373  174.075000   65.916667   53.749020  2555.602941   126.892157    3.329050    3.258300          10.148137  104.222772  5125.990099   25.240196    30.769608  13205.690000
std            35.442168    5.994144   12.362123    2.146716    2.424901   521.960820    41.744569    0.274044    0.314868           3.981000   39.810182   480.443680    6.551513     6.898337   7966.982558
min            65.000000   86.600000  141.100000   60.300000   47.800000  1488.000000    61.000000    2.540000    2.070000           7.000000   48.000000  4150.000000   13.000000    16.000000   5118.000000
25%            94.000000   94.500000  166.300000   64.075000   52.000000  2145.000000    97.000000    3.150000    3.110000           8.575000   70.000000  4800.000000   19.000000    25.000000   7775.000000
50%           115.000000   97.000000  173.200000   65.500000   54.100000  2414.000000   119.500000    3.310000    3.290000           9.000000   95.000000  5200.000000   24.000000    30.000000  10270.000000
75%           150.000000  102.400000  183.200000   66.900000   55.500000  2939.250000   142.000000    3.590000    3.410000           9.400000  116.000000  5500.000000   30.000000    34.500000  16500.750000
max           256.000000  120.900000  208.100000   72.300000   59.800000  4066.000000   326.000000    3.940000    4.170000          23.000000  288.000000  6600.000000   49.000000    54.000000  45400.000000

# Create the dataframe for the categorical data
* ensure all the data is in the form of an object

In [16]:
#get names of categorical headers
l = ['normalized-losses', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-size', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']
cat_list = []
for x in header_names:
    if x not in l:
        cat_list.append(x)

In [17]:
#create a df for continous features
df_cat = df[cat_list].copy()

In [18]:
df_cat.head()

   symboling         make fuel-type aspiration num-of-doors   body-style drive-wheels engine-location engine-type num-of-cylinders fuel-system
0          3  alfa-romero       gas        std          two  convertible          rwd           front        dohc             four        mpfi
1          1  alfa-romero       gas        std          two    hatchback          rwd           front        ohcv              six        mpfi
2          2         audi       gas        std         four        sedan          fwd           front         ohc             four        mpfi
3          2         audi       gas        std         four        sedan          4wd           front         ohc             five        mpfi
4          2         audi       gas        std          two        sedan          fwd           front         ohc             five        mpfi

In [19]:
df_cat.dtypes

symboling            int64
make                object
fuel-type           object
aspiration          object
num-of-doors        object
body-style          object
drive-wheels        object
engine-location     object
engine-type         object
num-of-cylinders    object
fuel-system         object
dtype: object

In [20]:
df_cat.symboling = df_cat.symboling.apply(str)

In [21]:
df_cat.describe(include="all")

       symboling    make fuel-type aspiration num-of-doors body-style drive-wheels engine-location engine-type num-of-cylinders fuel-system
count        204     204       204        204          204        204          204             204         204              204         204
unique         6      22         2          2            3          5            3               2           7                7           8
top            0  toyota       gas        std         four      sedan          fwd           front         ohc             four        mpfi
freq          67      32       184        167          114         96          120             201         148              158          93

In [28]:
cont_desc = df_cont.describe()

In [30]:
cont_desc

       normalized-losses  wheel-base      length       width      height  curb-weight  engine-size        bore      stroke  compression-ratio  horsepower     peak-rpm    city-mpg  highway-mpg         price
count         164.000000  204.000000  204.000000  204.000000  204.000000   204.000000   204.000000  200.000000  200.000000         204.000000  202.000000   202.000000  204.000000   204.000000    200.000000
mean          122.000000   98.806373  174.075000   65.916667   53.749020  2555.602941   126.892157    3.329050    3.258300          10.148137  104.222772  5125.990099   25.240196    30.769608  13205.690000
std            35.442168    5.994144   12.362123    2.146716    2.424901   521.960820    41.744569    0.274044    0.314868           3.981000   39.810182   480.443680    6.551513     6.898337   7966.982558
min            65.000000   86.600000  141.100000   60.300000   47.800000  1488.000000    61.000000    2.540000    2.070000           7.000000   48.000000  4150.000000   13.000000    16.000000   5118.000000
25%            94.000000   94.500000  166.300000   64.075000   52.000000  2145.000000    97.000000    3.150000    3.110000           8.575000   70.000000  4800.000000   19.000000    25.000000   7775.000000
50%           115.000000   97.000000  173.200000   65.500000   54.100000  2414.000000   119.500000    3.310000    3.290000           9.000000   95.000000  5200.000000   24.000000    30.000000  10270.000000
75%           150.000000  102.400000  183.200000   66.900000   55.500000  2939.250000   142.000000    3.590000    3.410000           9.400000  116.000000  5500.000000   30.000000    34.500000  16500.750000
max           256.000000  120.900000  208.100000   72.300000   59.800000  4066.000000   326.000000    3.940000    4.170000          23.000000  288.000000  6600.000000   49.000000    54.000000  45400.000000

In [32]:
cont_desc = cont_desc.transpose()

In [33]:
cont_desc

                   count          mean          std      min       25%       50%       75%       max
normalized-losses  164.0    122.000000    35.442168    65.00    94.000    115.00    150.00    256.00
wheel-base         204.0     98.806373     5.994144    86.60    94.500     97.00    102.40    120.90
length             204.0    174.075000    12.362123   141.10   166.300    173.20    183.20    208.10
width              204.0     65.916667     2.146716    60.30    64.075     65.50     66.90     72.30
height             204.0     53.749020     2.424901    47.80    52.000     54.10     55.50     59.80
curb-weight        204.0   2555.602941   521.960820  1488.00  2145.000   2414.00   2939.25   4066.00
engine-size        204.0    126.892157    41.744569    61.00    97.000    119.50    142.00    326.00
bore               200.0      3.329050     0.274044     2.54     3.150      3.31      3.59      3.94
stroke             200.0      3.258300     0.314868     2.07     3.110      3.29      3.41      4.17
compression-ratio  204.0     10.148137     3.981000     7.00     8.575      9.00      9.40     23.00
horsepower         202.0    104.222772    39.810182    48.00    70.000     95.00    116.00    288.00
peak-rpm           202.0   5125.990099   480.443680  4150.00  4800.000   5200.00   5500.00   6600.00
city-mpg           204.0     25.240196     6.551513    13.00    19.000     24.00     30.00     49.00
highway-mpg        204.0     30.769608     6.898337    16.00    25.000     30.00     34.50     54.00
price              200.0  13205.690000  7966.982558  5118.00  7775.000  10270.00  16500.75  45400.00

# Add missing values to report: Cardinality, Missing_%

In [76]:
cont_features = ['cardinality', 'missing%']
cols = cont_desc.index

#for the two features generate the data for each column in the continuous dataframe

total = df.shape[0] #gets the total number of instances in the dataframe to calculate missing %

for feature in cont_features:
    
    for col in cols:
        if feature in 'cardinality':
            #cont_desc[feature] = np.nan
            uniq_count = len(df_cont[col].unique())
            cont_desc[feature][col] = uniq_count
        elif feature in 'missing%':
            #cont_desc[feature] = np.nan
            miss_perc = (df.shape[0] - cont_desc['count'][col]) / df.shape[0] * 100
            cont_desc[feature][col] = miss_perc

## Result ->

In [77]:
cont_desc

                   count          mean          std      min       25%       50%       75%       max  cardinality   missing%
normalized-losses  164.0    122.000000    35.442168    65.00    94.000    115.00    150.00    256.00         52.0  19.607843
wheel-base         204.0     98.806373     5.994144    86.60    94.500     97.00    102.40    120.90         53.0   0.000000
length             204.0    174.075000    12.362123   141.10   166.300    173.20    183.20    208.10         75.0   0.000000
width              204.0     65.916667     2.146716    60.30    64.075     65.50     66.90     72.30         44.0   0.000000
height             204.0     53.749020     2.424901    47.80    52.000     54.10     55.50     59.80         49.0   0.000000
curb-weight        204.0   2555.602941   521.960820  1488.00  2145.000   2414.00   2939.25   4066.00        171.0   0.000000
engine-size        204.0    126.892157    41.744569    61.00    97.000    119.50    142.00    326.00         44.0   0.000000
bore               200.0      3.329050     0.274044     2.54     3.150      3.31      3.59      3.94         39.0   1.960784
stroke             200.0      3.258300     0.314868     2.07     3.110      3.29      3.41      4.17         37.0   1.960784
compression-ratio  204.0     10.148137     3.981000     7.00     8.575      9.00      9.40     23.00         32.0   0.000000
horsepower         202.0    104.222772    39.810182    48.00    70.000     95.00    116.00    288.00         60.0   0.980392
peak-rpm           202.0   5125.990099   480.443680  4150.00  4800.000   5200.00   5500.00   6600.00         24.0   0.980392
city-mpg           204.0     25.240196     6.551513    13.00    19.000     24.00     30.00     49.00         29.0   0.000000
highway-mpg        204.0     30.769608     6.898337    16.00    25.000     30.00     34.50     54.00         30.0   0.000000
price              200.0  13205.690000  7966.982558  5118.00  7775.000  10270.00  16500.75  45400.00        186.0   1.960784